#sifah{
    /* Rectangle 1 */
    position: absolute;
    width: 1280px;
    height: 148px;
    left: 0px;
    top: 0px;

    background: #4399FF;
}
#hua{
    cursor: pointer;
    position: absolute;
    width: 261.02px;
    height: 60px;
    left: 22px;
    top: 24px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}
#roob{
    cursor: pointer;
    position: absolute;
    width: 71px;
    height: 73px;
    left: 1142px;
    top: 37px;

    border-radius: 217px;
    background: #c0c8f7;
}
#yellow{
    position: absolute;
    width: 206px;
    height: 866px;
    left: 0px;
    top: 148px;

    background: #FFEB85;
}
#price{
    position: absolute;
    width: 155px;
    height: 53px;
    left: 22px;
    top: 188px;

    background: #4399FF;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */


    color: #FFFFFF;
    border: 0px;
}
#facility{
    position: absolute;
    width: 155px;
    height: 53px;
    left: 22px;
    top: 273px;

    background: #4399FF;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    border: 0px;
    color: #FFFFFF;
}
#review{
    position: absolute;
    width: 155px;
    height: 53px;
    left: 22px;
    top: 358px;
    background: #4399FF;
    border-radius: 10px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    border: 0px;
    color: #FFFFFF;
}
#home{
    position: absolute;
    width: 55px;
    height: 54px;
    left: 72px;
    top: 443px;
    background: #4399FF;
    border-radius: 10px;
    border: 0px;
}
#reserve{
    position: absolute;
    width: 139px;
    height: 52px;
    left: 1094px;
    top: 166px;
    background: #FFEB85;
    border-radius: 20px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    border: 0px;

    color: #1A3244;
}
#hotel{
    /* Hotel */
    position: absolute;
    width: 123px;
    height: 23px;
    left: 254px;
    top: 177px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;
}

.blue:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.blue:active {
    filter: grayscale(70%)brightness(150%);
}
.yellow:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.yellow:active {
    filter: grayscale(50%)brightness(105%);
}
#picyai{
    position: absolute;
    width: 960px;
    height: 350px;
    left: 260px;
    top: 260px;

    background: #FFEB85;
}
#piceic{
    position: absolute;
    width: 960px;
    height: 100px;
    left: 260px;
    top: 618px;

    background: #FFEB85;
}