#sifah{
    /* Rectangle 1 */
    position: absolute;
    width: 1280px;
    height: 148px;
    left: 0px;
    top: 0px;

    background: #4399FF;
}
#hua{
    position: absolute;
    width: 261.02px;
    height: 60px;
    left: 22px;
    top: 24px;
    cursor: pointer;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #FFFFFF;
}
#regis{
    /* Component 2 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 886px;
    top: 38px;
    
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;
    background: #FFEB85;
    border-radius: 20px;
}
#signin{
    /* Component 3 */
    position: absolute;
    width: 151px;
    height: 55px;
    left: 1067px;
    top: 38px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;

    color: #1A3244;
    border: 0px;

    background: #FFEB85;
    border-radius: 20px;
}
#sifah2{
    position: absolute;
    width: 389px;
    height: 460px;
    left: 60px;
    top: 254px;

    background: #4399FF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
#where{
    position: absolute;
    width: 328px;
    height: 63px;
    left: 90px;
    top: 297px;
    border: 0px;

    background: #FFFFFF;
    border-radius: 7px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

}
#w{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding-left: 23%;
    background: #FFFFFF;
    border-radius: 7px;
    border: 0px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3448;
}
#w::placeholder{
    position: absolute;
    left: 23%;
    top: 34.09%;
    border-radius: 7px;

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3244bd;
}
#calendar{
    position: absolute;
    width: 329px;
    height: 63px;
    left: 90px;
    top: 396px;

    background: #FFFFFF;
    border-radius: 7px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}
#guest{
    position: absolute;
    width: 329px;
    height: 63px;
    left: 90px;
    top: 495px;
    background: #FFFFFF;
    border-radius: 7px;
}
#people{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    padding-left: 23%;

    background: #FFFFFF;
    border-radius: 7px;
    border: 0px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3448;
}
#people::placeholder{
    position: absolute;
    left: 23%;
    top: 30%;
    

    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;

    color: #1a3244bd;
}
#search{
    position: absolute;
    width: 125px;
    height: 60px;
    left: 190px;
    top: 610px;
    background: #FFEB85;
    border-radius: 25px;

    border: 0px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 43px;

    color: #1A3244;
}
#block{
    position: absolute;
    width: 716px;
    height: 213px;
    left: 511px;
    top: 254px;
    background: #FFEB85;
    border-radius: 15px;
    cursor: pointer;
}
#roop{
    position: absolute;
    left: 2.79%;
    right: 62.43%;
    top: 8.04%;
    bottom: 8.54%;
    background: #FFFFFF;
    border-radius: 5px;
}
#name{
    position: absolute;
    width: 400px;
    height: 45px;
    left : 281px;
    top: 2px;
    border: none; 
    background: #FFFFFF;
    border-radius: 17px;  
    
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
}

#lowname{
    position: absolute;
    width: 400px;
    height: 123px;
    left: 281px;
    top: 60px;
    border: none;
    background: #FFFFFF;
    border-radius: 15px;
    padding-left: 20px;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    
    
}

#lowerblock{
    position: absolute;
    width: 716px;
    height: 212px;
    left: 511px;
    top: 521px;
    background: #FFEB85;
    border-radius: 15px;
}
.blue:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.blue:active {
    filter: grayscale(70%)brightness(150%);
}
.yellow:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

.yellow:active {
    filter: grayscale(50%)brightness(105%);
}